<app-navbar></app-navbar>
<div class="main">
  <img src="assets/sunset.jpg">
  <div class="title" >
    <h1 class="myh1 lax" data-lax-preset="blurOut-1 zoomOut" (mouseover)="changeText()"><span class="myred-font">Ich</span><br> {{titleword}}<br> meine Zukunft.</h1>
    </div>
    <div class="imagediv">
      <img src="assets/myAvatar-2.png">
      </div>

      <div class="aboutme lax" data-lax-preset="blurIn-10 zoomIn">
        <h2 class="myh2">Hey, ich bin Max</h2>
        <h3 class="myh3">ein angehender Webentwickler aus Bayern</h3>
        </div>

        <div class="skills">
            <div class="skill skill-html" id="skill-html" (click)="openSkill('HTML')"><i class="fab fa-html5"></i></div>
            <div class="skill skill-css" id="skill-css"  (click)="openSkill('CSS')"><i class="fab fa-css3"></i></div>
            <div class="skill skill-js" id="skill-js" (click)="openSkill('JAVASCRIPT')"><i class="fab fa-js"></i></div>
            <div class="skill skill-angular" id="skill-angular"  (click)="openSkill('ANGULAR')"><i class="fab fa-angular"></i></div>
          </div>


  </div>
  <div class="skillstext" id="skillstext">
    <i class="fas fa-times" id="closeSkill" (click)="closeSkill()"></i>
    <div class="skillcontent">
    <h2 id="skillsh2">{{activeSkill}}</h2>
    <p class="skillparagraph" id="text-html"></p>
    <p class="skillparagraph" id="text-css"></p>
    <p class="skillparagraph" id="text-js"></p>
    <p class="skillparagraph" id="text-angular"></p>
    </div>
    </div>


    <p id="htmlsrc" class="skillsource">
      Als ich 2016 mit HTML als erste 'Programmiersprache' angefangen habe
      wusste ich noch nicht wohin mich das einmal führen wird. Die anfänglichen
      Seiten ohne großartiges Design gehören längst der Vergangenheit and und HTML ist
      nurnoch das Grundgerüst der Website.
      </p>
      <p id="csssrc" class="skillsource">
        Nachdem die Websites immer schrecklich aussahen, musste etwas zum aufpeppen her.
        CSS nutze ich mittlerweile mehr als alle anderen Bestandteile einer Website und längst weiß
        ich noch nicht alle Funktionen und Möglichkeiten davon!
        </p>
        <p id="jssrc" class="skillsource">
          Nur statische Seiten zu erstellen war mir dann auf Dauer zu langweilig, deswegen habe Ich
          2019 mit Javascript angefangen. Programmieren war schon längst zu einem wichtigen Bestandteil in
          meinem Leben geworden, jedoch war ich immer zu perfektionistisch irgendwelche Seiten zu veröffentlichen...
          </p>
          <p id="angularsrc" class="skillsource">
            Websites wurden dann im Winter 2019/2020 auch zu langweilig, deswegen ist mein neues Ziel Webapps zu entwickeln, um
            auch kleinere Programme auf Webseiten zu realisieren. Im April 2020 stehe ich noch ganz am Anfang davon, diese Website ist aber
            zu Übungszwecken schon damit erstellt :)
            </p>

<div class="projects">
  <h2 class="">Projekte</h2>

    <a href="http://imaxpro.bplaced.net/recoord./index.php"><div class="project" id="project1"><img src="assets/recoord.png"><div class="overlay"><span class="overlaytext">recoord.</span></div></div></a>
    <div class="project" id="project2"><img src=""><div class="overlay"><span class="overlaytext">Macbook</span></div></div>
      <div class="project" id="project3"><img src=""><div class="overlay"><span class="overlaytext">Yogamobil</span></div></div>

  </div>

<app-footer></app-footer>
