<app-navbar></app-navbar>
<div class="main">
  <img src="assets/sunset.jpg">
  <div class="title" >
    <h1 class="myh1 lax" data-lax-preset="blurOut-1 zoomOut">I<br> {{titleword}}<br> my future.</h1>
    </div>
    <div class="imagediv">
      <img src="assets/myAvatar-2.png">
      </div>

      <div class="aboutme lax" data-lax-preset="blurIn-10 zoomIn">
        <h2 class="myh2">Hey, I'm Max.</h2>
        <h3 class="myh3">I'm a prospective web developer from Germany.</h3>
        </div>

        <div class="skills">
            <div class="skill skill-html" id="skill-html"><i class="fab fa-html5" (click)="openSkill(this.id)"></i></div>
            <div class="skill skill-css" id="skill-css"><i class="fab fa-css3" (click)="openSkill(this.id)"></i></div>
            <div class="skill skill-js" id="skill-js"><i class="fab fa-js" (click)="openSkill(this.id)"></i></div>
            <div class="skill skill-angular" id="skill-angular"><i class="fab fa-angular" (click)="openSkill(this.id)"></i></div>
          </div>


  </div>
  <div class="skillstext" id="skillstext">
    <i class="fas fa-times" id="closeSkill" (click)="closeSkill()"></i>
    <div class="skillcontent">
    <h2>{{activeSkill}}</h2>
    <p> I discovered HTML when I was 12 years old, because I wanted to learn how to make a cool looking website.</p>
    </div>
    </div>
<app-footer></app-footer>
