/* Stylesheet for the im4xpro website */

.main{
  width:100%;
  position: relative;
  background-color: #222f35;
  border-bottom:5px solid #c7473a;
}

.main img{
  width:100%;
  height:auto;

}


.title{
  z-index: 2;
  position: absolute;
  width:auto;
  height:auto;
  top: 10%;
  left:5%;
  text-align: left;

}

.myh1{
  font-size:100px;
  color: white;
}


.imagediv{
  z-index:3;
  position: absolute;
  width:16em;
  height:16em;
  top:10%;
  right:10%;
  transform: translate(-20%, -30%);
  background-color: #c7473a;
  padding:2em;
  border-radius: 20em;
  box-shadow: 1px 1px 60px black;
}

.imagediv img{
  position: absolute;
  width:12em;
  height:12em;
  left:50%;
  margin-left: -6em;
  margin-top: 1.5em;

}


.aboutme{
  z-index:2;
  position: absolute;
  width: 80%;
  height:auto;
  top:70%;
  text-align: center;
  left:50%;
  margin-left: -40%;
}

.myh2{
  color:white;
  font-size: 80px;
  font-weight:300;
  margin: 0;
}

.myh3{
  color:#333;
  font-weight: 300;
  font-size:24px;

}


.skills{
  position: absolute;
  width:60em;
  height:auto;
  z-index: 2;
  top:80%;
  left:50%;
  margin-left: -30em;
  margin-top:5em;
}

.skill{
float: left;
width:12em;
height:12em;
border-radius: 20em;
background-color: #203139;
box-shadow: 5px 10px 35px black;
text-align: center;
line-height: 16em;
}

.skill-html{
  margin-right: 4em;
}
.skill-css{
  margin-right:4em;
}

.skill-js{
  margin-right: 4em;
}

.skill i{
  font-size:100px;
  color:#c7473a;
}
