/* Stylesheet for the im4xpro website */
/* ----------------------- */
/* ----------------------- */
/* MAIN CONTAINER*/
.main{
  width:100%;
  position: relative;
  background-color: #222f35;
  border-bottom:5px solid #c7473a;
}

.main img{
  width:100%;
  height:auto;

}
/* MAIN CONTAINER*/
/* ----------------------- */
/*TITLE*/
.title{
  z-index: 2;
  position: absolute;
  width:auto;
  height:auto;
  top: 10%;
  left:5%;
  text-align: left;

}

.myh1{
  font-size:100px;
  color: white;
}


.imagediv{
  z-index:3;
  position: absolute;
  width:16em;
  height:16em;
  top:10%;
  right:10%;
  transform: translate(-20%, -30%);
  background-color: #c7473a;
  padding:2em;
  border-radius: 20em;
  box-shadow: 1px 1px 60px black;
}

.imagediv img{
  position: absolute;
  width:12em;
  height:12em;
  left:50%;
  margin-left: -6em;
  margin-top: 1.5em;

}
/*TITLE*/
/* ----------------------- */
/* ABOUT ME*/
.aboutme{
  z-index:2;
  position: absolute;
  width: 80%;
  height:auto;
  top:70%;
  text-align: center;
  left:50%;
  margin-left: -40%;
}

.myh2{
  color:white;
  font-size: 80px;
  font-weight:300;
  margin: 0;
}

.myh3{
  color:#333;
  font-weight: 300;
  font-size:24px;

}
/* ABOUT ME*/
/* ----------------------- */
/*SKILLS*/
.skills{
  position: absolute;
  width:60em;
  height:12em;
  z-index: 2;
  top:80%;
  left:50%;
  margin-left: -29em;
  margin-top:5em;
}

.skill{
float: left;
width:12em;
height:12em;
border-radius: 20em;
background-color: #203139;
box-shadow: 5px 10px 35px black;
text-align: center;
line-height: 16em;
transition: 0.5s;
}

.skill:hover{
  padding: 0.5em;
  cursor:pointer;

}

.skill-html{
  margin-right: 3em;

}

.skill-css{
  margin-right:3em;
}

.skill-js{
  margin-right: 3em;
}

.skill i{
  font-size:100px;
  color:#c7473a;
}

.skillstext{
  width:100%;
  height:auto;
    box-shadow: 5px 10px 35px black;
   background-color:rgb(238, 238, 238);
  border-bottom:1px solid lightgrey;
  display: none;

}

.skillstext h2{
  color: #c7473a;
  font-size:36px;
  margin-bottom: 1em;
  margin: 0;
  animation-name: skillanimation;
  animation-duration: 2s;
}

.skillstext p{
  font-size:20px;
  font-weight:300;
  margin-left: 0.5em;
  line-height: 1.5em;
}

.skillstext i{
  float:right;
  font-size:34px;
  margin-right:1em;
  margin-top: 0.5em;
  color: #222f35;
}

.skillstext i:hover{
  color:#c7473a;
  cursor:pointer;
}

.skillstext i:active{
  font-size:30px;
  margin-right: 1.2em;
}
.skillcontent{
  padding: 2em;
}

.skillparagraph{
  display: none;
  color:#222f35;
}


.skillsource{
  display: none;
}
/*SKILLS*/
/* ----------------------- */
/*PROJECTS*/
.projects{
  width:100%;
  height:40em;
  padding-top: 1em;
  background-color: rgb(238,238,238);
  position: relative;
}

.projects h2{
  margin: 0;
  margin-left: 1em;
  font-size:46px;
  color: #222f35;
  font-weight: 400;
  margin-bottom: 3em;
  margin-top: 1em;
}

.project{
  width:20em;
  height:14em;
  float: left;
  text-align: center;
  line-height: 14em;
  position: relative;
  box-shadow: 5px 10px 35px #333;
}



.project img{
  width:100%;
  height:100%;
}

.overlay{
  position: absolute;
  z-index: 3;
  width:20em;
  height:14em;
  background-color: #333;
  top:0%;
  right:0%;
  opacity: 80%;
  transition: 2s;
}
.overlay:hover{
  opacity: 0%;
}
.overlaytext{
  color:white;
  font-size:24px;
  font-weight:400;
}

#project1{
  margin-right: 2em;
  margin-left: 10%;
}

#project2{
  margin-right: 2em;
  display: none;
}

#project3{
  display: none;
}
/*PROJECTS*/
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* MEDIA QUARIES*/

@media screen and (device-width:768px){

  .aboutme{
    top:60%;
  }

  .myh2{
    font-size:70px;
  }

  .imagediv{
    width: 12em;
    height:12em;
    right:2%;
  }

  .imagediv img{
    width:9em;
    height:9em;
    left:50%;
    margin-left: -4.5em;
    margin-top: 1.5em;
  }
  .skill{
  float: left;
  width:9em;
  height:9em;
  border-radius: 20em;
  background-color: #203139;
  box-shadow: 5px 10px 35px black;
  text-align: center;
  line-height: 13em;
  transition: 0.5s;
  }
  .skills{
    position: absolute;
    width:50em;
    height:12em;
    z-index: 2;
    top:70%;
    left:50%;
    margin-left: -22.5em;
    margin-top:5em;
  }
  .skill i{
    font-size:80px;
    color:#c7473a;
  }
}

@media screen and (device-width:375px){

  .main img{
    height:80em;
  }
  .myh1{
    font-size: 70px;

  }

  .imagediv{
    width: 9em;
    height:9em;
    left:60%;
  }

  .imagediv img{
    width:7em;
    height:7em;
    left:50%;
    margin-left: -3.5em;
    margin-top: 1em;
  }


  .aboutme{
    top:65%;
  }
  .skills{
    top:75%;
  }
  .myh2{
    font-size: 40px;

  }

  .myh3{
    font-size:20px;
  }
}
